.logo{
   width: 7%;
   height: 7%;
    
}

.lien_nav{
    
}

body{
    margin: 3%;
    font-family: 'Raleway', sans-serif;
}

.flex{
    display: flex;
    justify-content: space-between;
}


.flex_classic {
    display: flex;
    flex-flow: column;
}

.flex_colle {
    display: flex;
    
}

.filter {
    display: flex;
    justify-content: space-around;
    width: 70%;

}

.filterColleGauche {
    display: flex;
    justify-content: flex-start;
    width: fit-content;
}

#filterTotal {
    display: flex;
}

form {
    padding: 20px 0px 20px 0px;
    display: flex;

}

form i{
    padding: 20px;
    background-color: #F2F2F2;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px ;
}

form button{
    padding: 20px;
    background-color: #0065FC;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    border: none;
    font-size: large;
    color: white;
}
    
form input{
font-size: large;
border-color: none;


}

form ::placeholder{
    color: black;
    font-family: 'Raleway', sans-serif;
}


h1 {
    font-size: 130%;
}

