.logo{
   width: 7%;
   height: 7%;
    
}


body{
    margin: 3%;
    font-family: 'Raleway', sans-serif;
}

.flex{
    display: flex;
    justify-content: space-between;
}


.flex_classic {
    display: flex;
    flex-flow: column;
}

.flex_colle {
    display: flex;
    
}

.filter {
    display: flex;
    justify-content: space-around;
    width: 70%;

}

.filterColleGauche {
    display: flex;
    justify-content: flex-start;
    width: fit-content;
}

#filterTotal {
    display: flex;
    margin-top: -1%;
}

form {
    padding: 20px 0px 20px 0px;
    display: flex;

}

form i{
    padding: 20px;
    background-color: #F2F2F2;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px ;
    color: black;
    
}

form button{
    padding: 20px;
    background-color: #0065FC;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    border: none;
    font-size: large;
    color: white;
}
    
form input{
font-size: large;
border-color: none;
border-style: solid;
border-color: #F2F2F2;



}

form ::placeholder{
    color: black;
    font-size: 18px;
    padding-left: 4%;
    font-weight: 600;
}


h1 {
    font-size: 130%;
}

h2 {
    font-size: 110%;
}

.margeUpdown{
    margin-top: 1%;
    margin-bottom: 2%;
}

.marginInterbox{
    margin-left: 4%;
    padding-top: 2%;
}

.card{
    padding: 6px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    margin: 2%;
    margin-left: 4%;
    height: 200px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 5px rgb(0 0 0 / 10%);
    border: none;
    max-width: 230px;
}

.cardLongue{

    padding: 6px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 6%;
    height: 130px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 5px rgb(0 0 0 / 10%);
    border: none;
    max-width: 400px;
    display: flex;

}

#titleLonguecard{
    margin-top: 6%;
    margin-left: 10%;
    margin-bottom: 4%;
    font-size: 130%;
    
}

.imgCardlongue{
    height: 130px;
    width: 150px;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
}

.imgCard{
    
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    height: 120px;
    width: 230px;
    border: none;
    
}

.txtCard{
    margin-top: 4%;
    margin-left: 4%;
    margin-bottom: auto;
}

.grandfondGris{
    background-color: #F2F2F2;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    
}

.grandeCard {
    height: 600px;
    width: 65%;
}

.petiteCardverticale {
    height: 600px;
    width: 32%;
}


h3 {
    font-size: 1rem;
}

.grandecardGrise{
    display: flex;
}

.grand{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
}

i {
    color: #0065FC;
}

.margetxtLongue{
    margin-left: 4%;
    max-width: 180px;
}

#rapproche{
    font-weight: 400;
    font-size: 14px;
}

.sizeEtmarge{
    font-size: 14px;
    margin-top: 12%;

}

.starC {
    font-size: 14px;
    margin-top: 4%;
}

.sizeTitleh1 {
    font-size: 130%;
}

.totalCard{
    display: flex;
    flex-wrap: wrap;
    
}

.placeBottom{
    margin-top: 3%;
}

.xlCard{
    padding: 6px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 350px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 5px rgb(0 0 0 / 10%);
    border: none;
    

}

.xlImg{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.medCard{
    padding: 6px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 250px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 5px rgb(0 0 0 / 10%);
    border: none;
    
}


.medImg{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.miniCard{
    padding: 6px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 150px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 5px rgb(0 0 0 / 10%);
    border: none;
    
}

.miniImg{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.cardActiv{
    display: flex;
    flex-wrap: wrap;
}